.flex-container {
    display: flex;
}
.box {
    width: 300px;
    height: 150px;
    text-align: center;
    margin: 20 20 40 35px
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    margin-left: 35px;
}
.box1 {
    background-color: #f4714a;
}
.box2 {
    background-color: #59f44e;
}
.box3 {
    background-color: #4685f4;
}
.box4 {
    background-image: url("https://www.stroygm.com/upload/resize_cache/iblock/76d/225_220_1/76d0988961462831bbf6f00d7f6fa809.jpg");
    background-size: 100%;
    background-color: #31f43e;
}
body {
    background-color: #6b97f4;
}

